#container {
	background-color: red;
	height: 900px;
	width: 900px;
	margin:  auto;
	border-style: solid;
    border-color: blue;
    border-radius: 20px;
    border-width: 20px;


}

h1 {
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 60px;
}

.squares {
	background-color: #D3D3D3;
	height: 50px;
	width: 50px;
	margin: 3px;
	display: inline-block;
	float: left;
	padding: 0;
}

button {
	background-color: blue;
	height: 50px;
	width: 100px;
	position: relative;
	border-radius: 20px;
	}

